{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.user_data_edit'|trans }}
{% endblock %}

{% block body %}
    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>

    <div class="user-container">
<h4>{{ 'edit'|trans }}</h4>
        <div class="action-container">
{{ form_start(form) }}
{{ form_widget(form) }}
        </div>
<div class="user-info">
    <input type="submit" value="{{ 'action.edit'|trans }}" class="action-btn">
</div>
    </div>
{#    class="btn btn-primary"#}
{#<div class="form-group row float-sm-left">#}
{#    <a href="{{ url('dance_index') }}" class="btn btn-link">#}
{#        {{ 'action.back_to_list'|trans }}#}
{#    </a>#}
{#</div>#}

{{ form_end(form) }}
{% endblock %}