{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.salsa_dance'|trans }}
{% endblock %}

{% block body %}
    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>
    <div class="outer-box">
        <div class="dance-header salsa-img">
        <h1>{{ 'title.salsa_dance'|trans }}</h1>
        </div>
{#        <p>TU MUSI COS BYC JESZCZE -  -znalezc info podstawowe czym jest salsa#}
{#            Clave –#}
{#            Tumbao -#}
{#        </p>#}
        <p>
            Taniec salsa jest jednym z najpopularniejszych tańców latynoamerykańskich, który do dzisiaj jest praktykowany na całym świecie. Ten styl taneczny pojawił się na Kubie w Ameryce Środkowej na przełomie XIX i XX wieku. Współczesna salsa wyewoluowała z różnych form tańca kubańskiego, takich jak: Son Montuno, Mamba, Cha Cha Cha.
        </p>
        <p>
            Pierwsza technika salsy jest powszechnie nazywana techniką Palladium. Wielu tancerzy Palladium określa ją również jako son montuno. Rozwinęła się ona dzięki amerykańskiej tradycji balowej. Z tej techniki korzystał między innymi Eddie Torres. Na podstawie Palladium opracował on swoją własną technikę. Nauczał on techniki „Salsy na 2”. Dzisiaj nazywana także jako „mamo na 2”. Ta technika również jest przeznaczona do tańczenia w rytm clave i tumbao. Tancerze posługujący się techniką Torresa są często nazywani jako „tancerze turbo”. Dzieje się to za sprawą dodania dodatkowego kroku. Daje to wrażenie, że forma tańca przyspiesza i jest przez to bardziej szalona.
        </p>
{#        <p>#}
{#            Pierwsza technika jest powszechnie nazywana techniką Palladium. Wielu tancerzy#}
{#            Palladium określa ją również jako son montuno. Rozwinęła się ona dzięki amerykańskiej#}
{#            tradycji balowej.#}
{#            Z tej techniki korzystał między innymi Eddie Torres.#}
{#            Był to Puertoryjczyk, który urodził się i wychował we wschodnim Harlem w Portoryko.#}
{#            Na podstawie Palladium opracował on swoją własną technikę. Nauczał on techniki#}
{#            „Salsy na 2”. Dzisiaj nazywana także jako „mamo na 2”.#}
{#            Ta technika również jest przeznaczona do tańczenia w rytm clave i tumbao.#}
{#        </p>#}
{#        <p>Zdjęcie 12.4</p>#}
{#        <p>#}
{#            Tancerze posługujący się techniką Torresa są często nazywani jako „tancerze turbo”.#}
{#            W technice Torresa tancerz kładzie prawą nogę na 1,#}
{#            przy pierwszym uderzeniu w takcie muzycznym,#}
{#            ale dodatkowo jego lewa noga kładzie nacisk na 2.#}
{#            Ten dodatkowy krok daje wrażenie, że forma przyspiesza#}
{#            i jest przez to bardziej „szalona”.#}
{#        </p>#}
        <p>
            W technice Torresa stopy poruszają się 1-2-3, 5-6-7, prawo-lewo-prawo, lewo-prawo-lewo. Uderzenia 4 i 8 służą do zmiany kierunku ciała, a przy tym stopy lekko odrywają się od podłogi. Ruch był generowany głównie z bioder i kolan, jak miało to miejsce w technice Palladium. Klatka piersiowa natomiast kołysała się z boku na bok w kierunku przeciwległym niż biodra. Wypracowany przed Torresa New York Style on2 cechuje się szybkością i swobodą, daje więcej możliwości niż jakikolwiek inny styl salsy. Jest zarazem jednym z najtrudniejszych stylów do nauczenia i prowadzenia. Zdominował on wszelkie światowej klasy pokazy Salsy. Tańczą go wybitni tancerze, tacy jak: Frankie Martinez, Johnny Vazquez, Tania Cannarsa, Amneris Martinez.
        </p>

        <div class="button_back">
            <a href="{{ url('main_page') }}" title="{{ 'action.back'|trans }}"> {{ 'action.back'|trans }}</a>
        </div>

    </div>
{% endblock %}