{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.change_password'|trans }}
{% endblock %}

{% block body %}

    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>

    <div class="user-container" style="height: 350px">
    <h4>{{ 'title.change_password'|trans }}</h4>
    <div class="action-container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    </div>
    <div class="user-info">
        <input type="submit" value="{{ 'action.save'|trans }}" class="action-btn">
    </div>
    </div>

{#    <div class="form-group row float-sm-left">#}
{#        <a href="{{ url('dance_index') }}" class="btn btn-link">#}
{#            {{ 'action.back_to_list'|trans }}#}
{#        </a>#}
{#    </div>#}

    {{ form_end(form) }}
{% endblock %}